.header-principal{
    background-color: slategray;
    height: 50px;
    width: 100%;
    padding-right: 16px;
    margin: -8px;
}

body{
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

